.body{
    margin: auto;
    padding: 0%;
    background-image: url(/4k-Ultra-HD_00216.jpg); background-size: 100%;
    opacity: 100px;
    position: absolute;
}

.judul{
    background-color: rgb(7, 153, 197);
    padding: 25px;
    padding-right: 25px;
    position: relative;
    font-family: 'lucida sans';
    font-size: 30px;
    font-style: bold;
    color: chartreuse;
    
    
    
}

.subjudul{
    padding-top: 35px;
    margin: 5px;
    position: relative;
    font-style: normal;
    font-size: 20px;
    color: bl;
    
}

.footer{
    margin: auto;
    padding-top: 10%;
    font-size: 15px;
    box-sizing: border-box;
    
}

